$primary-white: #fff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$dark-gray: #575757;
$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;
$accent-red: #9b4b4b;
$accent-gold: #ab8956;
$accent-error: #ae2917;

$font-inter: 'Inter', sans-serif;
$font-cormorant: 'Cormorant', serif;
$font-urbanist: 'Urbanist', sans-serif;
